[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
flake8 = "*"
black = "*"
aiogram = "*"
environs = "*"
aiohttp = "*"

[dev-packages]
pytest = "*"
flake8 = "*"
black = "*"
aiogram = "*"
environs = "*"
aiohttp = "*"

[requires]
python_version = "{{ cookiecutter.python_version }}"
